.input-container {
    display: flex;
    background: #ffffff;
    border-radius: 1rem;
    background: linear-gradient(135deg, #23272F 0%, #14161a 100%);
    box-shadow: 10px 10px 20px #0e1013, -10px -10px 40px #383e4b;
    padding: 0.3rem;
    gap: 0.3rem;
    margin: 0 auto !important;
    width: 360px !important;
}

.input-container input {
    border-radius: 0.8rem 0 0 0.8rem;
    background: #23272F;
    box-shadow: inset 5px 5px 10px #0e1013, inset -5px -5px 10px #383e4b, 0px 0px 100px #ffd43b00, 0px 0px 100px #ff660000;
    width: 100%;
    flex-basis: 75%;
    padding: 1rem;
    border: none;
    border: 1px solid transparent;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
}

.input-container input:focus {
    border: 1px solid #00e1ff;
    outline: none;
    box-shadow: inset 0px 0px 10px #00e1ff, inset 0px 0px 10px #00e1ff, 0px 0px 100px #00e1ff, 0px 0px 100px #00e1ff;
}

.input-container button {
    flex-basis: 25%;
    padding: 1rem;
    background: linear-gradient(135deg, #00e1ff 0%, #11ff00 100%);
    box-shadow: 0px 0px 1px #00e1ff, 0px 0px 1px #11ff00;
    font-weight: 900;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color: #23272F;
    border: none;
    width: 100%;
    border-radius: 0 1rem 1rem 0;
    transition: all 0.2s ease-in-out;
}

.input-container button:hover {
    background: linear-gradient(135deg, #a200ff 50%, #0d00ff 100%);
    box-shadow: 0px 0px 100px #a200ff, 0px 0px 100px #0d00ff;
    color: #ffffff;
}

@media (max-width: 500px) {
    .input-container {
        flex-direction: column;
    }

    .input-container input {
        border-radius: 0.8rem;
    }

    .input-container button {
        padding: 1rem;
        border-radius: 0.8rem;
    }
}





#tagp {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
    font-size: large;
    text-shadow: 2px 2px #00ffaa8b;
}




.message {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}



.number {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}